@{
    ViewData["Title"] = "Activities";
    var colors = new Dictionary<string, string>()
{
        { UserActionsStatus.Unread.ToString(), "red" },
        { UserActionsStatus.Read.ToString(), "green"},
        { UserActionsStatus.Pinned.ToString(), "blue"},
    };
}

@model ActivitiesPaginationViewModel

<div class="tab-pane fade in active">
    @foreach (var action in Model.Activities)
    {
        @if (action.Action == UserActionsType.Follow)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> started following
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>@action.FollowerUsername</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.Followed)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> was followed by
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>@action.FollowerUsername</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.Unfollow)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> unfollow
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>@action.FollowerUsername</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.Unfollowed)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> was unfollowed by
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>@action.FollowerUsername</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.EditPersonalData)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> update his/her personal information
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.ChangeCoverImage)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> has changed his/her cover picture
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                    <div class="activity-attachment">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="thumbnail">
                            <img src=@action.CoverImageUrl alt="Uploaded photo">
                        </a>
                    </div>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.ChangeProfilePicture)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> has changed his/her profile picture
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                    <div class="activity-attachment">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="thumbnail">
                            <img src=@action.ProfileImageUrl alt="Uploaded photo">
                        </a>
                    </div>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.CreatePost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> create a new blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                    <div class="activity-attachment">
                        <h4>
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                                @action.PostTitle
                            </a>
                        </h4>
                        <div class="well well-sm">
                            @Html.Raw(action.PostContent)
                        </div>
                    </div>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.LikeOwnPost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> like his/her own blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                    <div class="activity-attachment">
                        <h4>
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                                @action.PostTitle
                            </a>
                        </h4>
                        <div class="well well-sm">
                            @Html.Raw(action.PostContent)
                        </div>
                    </div>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.LikePost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> like
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>
                                @action.FollowerUsername
                            </b>
                        </a> blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                    <div class="activity-attachment">
                        <h4>
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                                @action.PostTitle
                            </a>
                        </h4>
                        <div class="well well-sm">
                            @Html.Raw(action.PostContent)
                        </div>
                    </div>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.LikedPost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a> was liked by
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>
                                @action.FollowerUsername
                            </b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                    <div class="activity-attachment">
                        <h4>
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                                @action.PostTitle
                            </a>
                        </h4>
                        <div class="well well-sm">
                            @Html.Raw(action.PostContent)
                        </div>
                    </div>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.UnlikeOwnPost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> unlike his/her own blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.UnlikePost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> unlike
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>
                                @action.FollowerUsername
                            </b>
                        </a> blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.UnlikedPost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a> was unliked by
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>
                                @action.FollowerUsername
                            </b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.DeleteOwnPost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> delete his/her own blog post
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.DeletePost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> delete
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>@action.FollowerUsername</b>
                        </a> blog post
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.DeletedPost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>@action.PersonUsername</b>
                        </a> blog post was deleted by
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>@action.FollowerUsername</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                </div>
                @if (User.Identity.Name == action.ApplicationUser.UserName)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.EditPost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> edit
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>
                                @action.FollowerUsername
                            </b>
                        </a> blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                    <div class="activity-attachment">
                        <h4>
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                                @action.PostTitle
                            </a>
                        </h4>
                        <div class="well well-sm">
                            @Html.Raw(action.PostContent)
                        </div>
                    </div>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.EditedPost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a> was edited by
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.FollowerUsername">
                            <b>
                                @action.FollowerUsername
                            </b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                    <div class="activity-attachment">
                        <h4>
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                                @action.PostTitle
                            </a>
                        </h4>
                        <div class="well well-sm">
                            @Html.Raw(action.PostContent)
                        </div>
                    </div>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if (action.Action == UserActionsType.EditOwnPost)
        {
            <div class="media activity-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername" class="pull-left">
                    <img src=@action.ProfileImageUrl alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                    <p class="activity-title">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@action.PersonUsername">
                            <b>
                                @action.PersonUsername
                            </b>
                        </a> edit his/her own blog
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                            <b>post</b>
                        </a>
                    </p>
                    @if (User.Identity.Name == action.ApplicationUser.UserName)
                    {
                        <p>
                            <span style="font-size: 14px">Status: </span>
                            <span>
                                <b id="@action.Id" style="color: @colors[action.ActionStatus.ToString()]; text-transform: uppercase">
                                    @action.ActionStatus.ToString()
                                </b>
                            </span>
                        </p>
                    }
                    <small class="text-muted">@action.ActionDate.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</small>
                    <div class="activity-attachment">
                        <h4>
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-postId="@action.PostId">
                                @action.PostTitle
                            </a>
                        </h4>
                        <div class="well well-sm">
                            @Html.Raw(action.PostContent)
                        </div>
                    </div>
                </div>
                @if (User.Identity.Name == action.PersonUsername)
                {
                    <div class="btn-group pull-right activity-actions">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-th"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                            @foreach (var status in Enum.GetValues(typeof(UserActionsStatus)))
                            {
                                <li>
                                    <a onclick="changeActionStatus('@action.Id', '@action.ApplicationUser.UserName', '@status')">
                                        @status.ToString()
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }
    }
    <div class="row" style="text-align: center">
        @Html.PagedListPager((IPagedList)Model.Activities,
                page => Url.Action("Index", "Profile",
        new { username = Model.Username, page = page }),
        PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</div>