@using SdvCode.Areas.Administration.ViewModels.UsersInformation

@{
    ViewData["Title"] = "Users Information";
}

@model AllBannedUsersViewModel

<link href="~/administration/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<partial name="_TempDataPartial" />

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Users Information</h1>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Banned Users</h1>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Information For Each User</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Reason</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Registered On</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Reason</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Registered On</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var user in this.Model.ApplicationUsers)
                        {
                            <tr onmouseover="markTableRow()">
                                <td>
                                    <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@user.Username" target="_blank">
                                        @user.Username
                                    </a>
                                </td>
                                <td>
                                    @user.FirstName @user.LastName
                                </td>
                                <td>
                                    @user.ReasonToBeBlocked
                                </td>
                                <td>
                                    @user.Email
                                </td>
                                <td>
                                    (@user.CountryCode.ToString()) @user.PhoneNumber
                                </td>
                                <td>
                                    @user.RegisteredOn.ToLocalTime().ToString("dd-MMMM-yyyy hh:mm:ss tt")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/administration/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/administration/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/administration/js/demo/datatables-demo.js"></script>
    <script src="~/administration/js/dataTableScripts.js"></script>
}