@page "/SdvShop/Shop"
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Shop Category - @this.categoryName</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <NavLink href="/Home">Home</NavLink>
                    <NavLink href="/SdvShop/Shop">Shop</NavLink>
                    <a>@this.categoryName</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Category Product Area =================-->
<section class="cat_product_area section_gap">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="product_top_bar">
                    <div class="left_dorp">
                        <select class="sorting" @bind="this.sorting">
                            <option value="Newest">Newest</option>
                            <option value="Oldest">Oldest</option>
                            <option value="N_ASC">Name (Ascending)</option>
                            <option value="N_DESC">Name (Descending)</option>
                            <option value="P_ASC">Price (Ascending)</option>
                            <option value="P_DESC">Price (Descending)</option>
                        </select>
                        <select class="show">
                            <option value="1">Show 12</option>
                            <option value="2">Show 14</option>
                            <option value="4">Show 16</option>
                        </select>
                    </div>
                </div>

                <div class="latest_product_inner">
                    <div class="row">
                        <AllProducts Id="@this.categoryId" Title="@this.categoryName" Sorting="@this.sorting"></AllProducts>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                @foreach (var category in categories)
                                {
                                    <li class="active">
                                        <a @onclick="@(() => this.SelectCategory(category.Id, category.Title))">@category.Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Price Filter</h3>
                        </div>
                        <div class="widgets_inner">
                            <div class="range_item">
                                <div id="slider-range"></div>
                                <div class="">
                                    <label for="amount">Price : </label>
                                    <input type="text" id="amount" readonly />
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->

@code{
    private List<ProductCategoryViewModel> categories;

    protected override Task OnInitializedAsync()
    {
        categories = this.CategoryService.ExtractAllCategories();
        return base.OnInitializedAsync();
    }

    private string categoryId = null;
    private string categoryName = "All";
    private string sorting = null;

    private void SelectCategory(string id, string name)
    {
        this.categoryId = id;
        this.categoryName = name;
    }
}