@using SdvCode.Areas.Editor.ViewModels
@{
    ViewData["Title"] = $"Add New Category";
}
@model AddCategoryInputModel
<div id="banner-area">
    <img src="~/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Create New Category</h2>
            <ul class="breadcrumb">
                <li>Home</li>
                <li>Editor Area</li>
                <li>
                    <a asp-area="Editor" asp-controller="AddCategory" asp-action="Index">
                        Create Category
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="headerSwitch">Add new category</h2>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" placeholder="Name" required />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="@Model.Description"></label>
                <textarea asp-for="@Model.Description" class="form-control" placeholder="Description" rows="7"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-feather-alt"></i>
                    Add Category
                </button>
            </div>
        </div>
    </form>
</div>