@using SdvCode.ViewModels.Profile
@using SdvCode.ViewModels.Pagination
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
@using X.PagedList
@model FollowingPaginationViewModel

@{
    ViewData["Title"] = "Following";
}

<div class="tab-pane fade in active">
    @foreach (var following in Model.Followings)
    {
        <div class="media user-following">
            <img src=@following.ImageUrl alt="User Avatar" class="media-object pull-left">
            <div class="media-body">
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@following.Username">@following.Username<br><span class="text-muted username">@following.FirstName @following.LastName</span></a>
                @if (User.Identity.Name == following.Username)
                {
                    <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@following.Username" type="button" class="btn btn-sm btn-info pull-right"><i class="fas fa-check-circle"></i> <span>It's You</span></a>
                }
                else
                {
                    @if (following.HasFollow)
                    {
                        <a asp-area="" asp-controller="Profile" asp-action="Unfollow" asp-route-username="@following.Username" type="button" class="btn btn-sm btn-danger pull-right"><i class="fas fa-minus-circle"></i> <span>Unfollow</span></a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Profile" asp-action="Follow" asp-route-username="@following.Username" type="button" class="btn btn-sm btn-success pull-right"><i class="fas fa-plus-circle"></i> <span>Follow</span></a>
                    }
                }
            </div>
        </div>
    }
    <div class="row" style="text-align: center">
        @Html.PagedListPager((IPagedList)Model.Followings,
                page => Url.Action("Index", "Profile",
        new { username = Model.Username, page = page }),
        PagedListRenderOptionsBase.OnlyShowFivePagesAtATime)
    </div>
</div>