<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_product_img">
                    <div id="carouselExampleIndicators"
                         class="carousel slide"
                         data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < this.Model.ProductImages.Count(); i++)
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i == 0 ? "active" : null)">
                                    <img class="smallImageProductDetails" src="@this.Model.ProductImages.ElementAt(i).ImageUrl" alt="@i" />
                                </li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            @for (int i = 0; i < this.Model.ProductImages.Count(); i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : null)">
                                    <img class="d-block imageDetails" src="@this.Model.ProductImages.ElementAt(i).ImageUrl" alt="@i" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@this.Model.Name</h3>
                    <h2>@this.Model.Price</h2>
                    <ul class="list">
                        <li>
                            <a class="active">
                                <span>Category</span> : @this.Model.ProductCategory.Title
                            </a>
                        </li>
                        <li>
                            <a href="#"> <span>Availibility</span> : @this.Model.AvailableQuantity</a>
                        </li>
                    </ul>
                    <p>
                        Mill Oil is an innovative oil filled radiator with the most
                        modern technology. If you are looking for something that can
                        make your interior look awesome, and at the same time give you
                        the pleasant warm feeling during the winter.
                    </p>
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        <input type="text"
                               name="qty"
                               id="sst"
                               maxlength="12"
                               value="1"
                               title="Quantity:"
                               class="input-text qty" />
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count"
                                type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count"
                                type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>
                    <div class="card_area">
                        <a class="main_btn" href="#">Add to Cart</a>
                        <a class="icon_btn" href="#">
                            <i class="lnr lnr lnr-diamond"></i>
                        </a>
                        <a class="icon_btn" href="#">
                            <i class="lnr lnr lnr-heart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ProductViewModel Model { get; set; }
}