<div class="comment_list">
    @foreach (var comment in this.AllComments)
    {
        <div class="review_item">
            <div class="media">
                <div class="d-flex">
                    <img src="@comment.ImageUrl" class="commentAvatar" alt="avatar" />
                </div>
                <div class="media-body">
                    <h4>@comment.FullName</h4>
                    @if (comment.Username != null)
                    {
                        <span><a href="/Profile/@comment.Username">@@@comment.Username</a></span>
                    }
                    @if (comment.UpdatedOn == null)
                    {
                        <h5>@comment.CreatedOn.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt")</h5>
                    }
                    else
                    {
                        <h5>@comment.UpdatedOn?.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm tt") (edited)</h5>
                    }
                    <a class="reply_btn" href="#">Reply</a>
                </div>
            </div>
            <p>@comment.Content</p>
        </div>
    }
</div>

@code {
    [Parameter]
    public ICollection<CommentViewModel> AllComments { get; set; }
}