@{
    ViewData["Title"] = "Emojis addons";
}

@model DeleteEmojiBaseModel

<partial name="_TempDataPartial" />

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Emojis Addons - Delete existing emoji</h1>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Delete existing emoji</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-4">
                <label asp-for="@this.Model.DeleteEmojiInputModel.Id"></label>
                <select onchange="selectedName(this)" class="form-control" asp-for="@this.Model.DeleteEmojiInputModel.Id">
                    <option disabled selected>Select emoji name...</option>
                    @foreach (var emoji in this.Model.DeleteEmojiViewModels)
                    {
                        <option value="@emoji.Id">@emoji.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="@this.Model.DeleteEmojiInputModel.Id"></span>
            </div>
        </div>
        <div class="row" id="emojiSection" style="display: none">
            <div class="col-xl-1 col-md-1 mb-4">
                <img style="width: 2.4em;" id="emojiImage" />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <button asp-area="Administration" asp-controller="DeleteEmoji" asp-action="DeleteEmoji" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                    <span class="text">Delete Emoji</span>
                </button>
            </div>
        </div>
    </form>
    <hr />
</div>
<input type="hidden" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/administration/js/deleteEmojiScript.js"></script>
}