@{
    ViewData["Title"] = "Private Chat";

    var icons = new Dictionary<EmojiType, string>()
{
        { EmojiType.SmilesAndPeople, "../../../../images/Emojis/SmilesAndPeople.png" },
        { EmojiType.AnimalsAndNature, "../../../../images/Emojis/AnimalsAndNature.png" },
        { EmojiType.EatAndDrink, "../../../../images/Emojis/EatAndDrink.png" },
        { EmojiType.Activities, "../../../../images/Emojis/Activities.png" },
        { EmojiType.TravelAndPlaces, "../../../../images/Emojis/TravelAndPlaces.png" },
        { EmojiType.Objects, "../../../../images/Emojis/Objects.png" },
        { EmojiType.Symbols, "../../../../images/Emojis/Symbols.png" },
        {EmojiType.Flags, "../../../../images/Emojis/Flags.png" }
    };
}

@model PrivateChatViewModel

<div id="banner-area">
    <img src="~/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Private Chat</h2>
            <ul class="breadcrumb">
                <li>Home</li>
                <li><a> Private Chat</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container privateChat">
    <div class="row">
        <h3 id="groupName" style="text-align:center">@Model.GroupName</h3>
        <div class="col-md-12">
            <div class="panel">
                <!--Heading-->
                <div class="panel-heading">
                    <div class="row">
                        <h3 class="panel-title" style="float: left" id="toUser">@Model.ToUser.UserName</h3>
                        <h3 class="panel-title" style="float: right" id="fromUser">@Model.FromUser.UserName</h3>
                    </div>
                </div>
                <div class="nano">
                    <div id="demo-chat-body" class="nano-content pad-all" tabindex="0">
                        <ul class="list-unstyled media-block" id="messagesList">
                            @if (Model.ChatMessages != null && Model.ChatMessages.Count != 0)
                            {
                                @foreach (var message in Model.ChatMessages)
                                {
                                    @if (message.ReceiverUsername == Model.ToUser.UserName && message.ApplicationUser.UserName != Model.ToUser.UserName)
                                    {
                                        <li class="mar-btm">
                                            <div class="media-right">
                                                <img src=@message.ApplicationUser.ImageUrl class="img-circle img-sm" alt="Profile Picture">
                                            </div>
                                            <div class="media-body pad-hor speech-right">
                                                <div class="speech">
                                                    <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@Model.FromUser.UserName" class="media-heading">@Model.FromUser.UserName</a>
                                                    <p>@Html.Raw(message.Content)</p>
                                                    <p class="speech-time">
                                                        <i class="fa fa-clock-o fa-fw"></i> @message.SendedOn
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        @if (message.ReceiverUsername != Model.ToUser.UserName && message.ApplicationUser.UserName != Model.FromUser.UserName)
                                        {
                                            <li class="mar-btm">
                                                <div class="media-left">
                                                    <img src=@message.ApplicationUser.ImageUrl class="img-circle img-sm" alt="Profile Picture">
                                                </div>
                                                <div class="media-body pad-hor">
                                                    <div class="speech">
                                                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@Model.ToUser.UserName" class="media-heading">@Model.ToUser.UserName</a>
                                                        <p>@Html.Raw(message.Content)</p>
                                                        <p class="speech-time">
                                                            <i class="fa fa-clock-o fa-fw"></i>@message.SendedOn
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                            }
                            @*Here Goose your messages*@
                        </ul>
                    </div>
                    <div class="nano-pane">
                        <div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div>
                    </div>
                </div>

                <!--Widget footer-->
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-10 col-xs-9">
                            <div class="chat-input" contenteditable="true" id="messageInput"></div>
                            @*<input autocomplete="off" type="text" placeholder="Enter your text" class="form-control chat-input" id="messageInput">*@
                            <div class="chat-emoji-icon pop-up-emoji" id="emojiButton">
                                <i class="far fa-smile"></i>
                                <span class="popupEmojiBox" id="popupEmoji">
                                    @*<input autocomplete="off" class="filter-emoji-input" type="text" placeholder="Filter Emojis" />*@
                                    <span class="emojiTypesTabs">
                                        @for (int i = 0; i < this.Model.Emojis.Keys.Count; i++)
                                        {
                                            <span style="margin: 0px 3px 0px 3px">
                                                <img onclick="changeEmojisTabs('@this.Model.Emojis.Keys.ElementAt(i).ToString()')" id="@this.Model.Emojis.Keys.ElementAt(i).ToString()-Tab" class="singleEmoji emoji-type-tab" style="background-color: @(i == 0 ? "#727272" : "");" src="@icons[this.Model.Emojis.Keys.ElementAt(i)]" />
                                            </span>
                                        }
                                    </span>
                                    @for (int i = 0; i < this.Model.Emojis.Keys.Count; i++)
                                    {
                                        <span class="tab-section" style="display: @(i == 0 ? "block" : "none")" id="@this.Model.Emojis.Keys.ElementAt(i).ToString()-Tab-Section">
                                            @foreach (var emoji in this.Model.Emojis[this.Model.Emojis.Keys.ElementAt(i)])
                                            {
                                                <span onclick="addEmoji(this)">
                                                    <img class="singleEmoji" src="@emoji.Url" />
                                                </span>
                                            }
                                        </span>
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-3">
                            <button class="btn btn-info btn-block" type="submit" id="sendButton">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/privateChat.js"></script>
    <script src="~/js/emojiScript.js"></script>
}