@using SdvCode.Areas.SdvShop.ViewModels.Product.InputModels
@{
    ViewData["Title"] = "Add Product";
}

@model ProductIndexModel

<partial name="_TempDataPartial" />

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Shop Center - Add product</h1>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Add new product</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-4">
                <label asp-for="@Model.ProductInputModel.Name"></label>
                <input asp-for="@Model.ProductInputModel.Name" class="form-control" placeholder="Name" required />
                <span asp-validation-for="@Model.ProductInputModel.Name" class="text-danger"></span>
            </div>
            <div class="col-xl-12 col-md-12 mb-4">
                <label asp-for="@Model.ProductInputModel.ProductCategory"></label>
                <select class="form-control" asp-for="@Model.ProductInputModel.ProductCategory">
                    <option value="" selected disabled>Select Category...</option>
                    @foreach (var category in Model.ProductCategories)
                    {
                        <option value=@category>@category</option>
                    }
                </select>
                <span asp-validation-for="@Model.ProductInputModel.ProductCategory" class="text-danger"></span>
            </div>
            <div class="col-xl-6 col-md-6 mb-4">
                <label asp-for="@Model.ProductInputModel.Price"></label>
                <input asp-for="@Model.ProductInputModel.Price" class="form-control" placeholder="Price" type="number" required />
                <span asp-validation-for="@Model.ProductInputModel.Price" class="text-danger"></span>
            </div>
            <div class="col-xl-6 col-md-6 mb-4">
                <label asp-for="@Model.ProductInputModel.AvailableQuantity"></label>
                <input asp-for="@Model.ProductInputModel.AvailableQuantity" class="form-control" placeholder="Quantity" type="number" required />
                <span asp-validation-for="@Model.ProductInputModel.AvailableQuantity" class="text-danger"></span>
            </div>
            <div class="col-xl-12 col-md-12 mb-4">
                <label asp-for="@Model.ProductInputModel.Description"></label>
                <textarea asp-for="@Model.ProductInputModel.Description" class="form-control edit-with-tinymce" style="resize: vertical" rows="10"></textarea>
                <span asp-validation-for="@Model.ProductInputModel.Description" class="text-danger"></span>
            </div>
            <div class="col-xl-12 col-md-12 mb-4">
                <label asp-for="@Model.ProductInputModel.SpecificationsDescription"></label>
                <textarea asp-for="@Model.ProductInputModel.SpecificationsDescription" class="form-control edit-with-tinymce" style="resize: vertical" rows="10"></textarea>
                <span asp-validation-for="@Model.ProductInputModel.SpecificationsDescription" class="text-danger"></span>
            </div>
            <div class="col-xl-12 col-md-12 mb-4">
                <input asp-for="@Model.ProductInputModel.ProductImages" type="file" multiple>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <button asp-area="Administration" asp-controller="Shop" asp-action="AddNewProduct" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Add Product</span>
                </button>
            </div>
        </div>
    </form>
    <hr />
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script src="~/lib/tinymce/visualizer.js" type="text/javascript"></script>
}