@using SdvCode.ViewModels.Administration
@{
    ViewData["Title"] = "Dashboard";
}
@{
    Layout = "/Views/Shared/_AdministrationLayout.cshtml";
}
@model DashboardViewModel

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Users</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalUsersCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Blog Posts</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalBlogPosts</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-newspaper fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Banned Users</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.TotalBannedUsers</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: @Model.TotalBannedUsers%" aria-valuenow=@Model.TotalBannedUsers aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-slash fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Users In Role</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalUsersInRole</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-tag fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h5 mb-0 text-gray-800">Add user in role</h2>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-4">
                <form>
                    <input id="usernameValue" class="chosen-value" type="text" value="" placeholder="Search username">
                    <ul id="usernamesList" class="value-list">
                        @foreach (var user in Model.Usernames)
                        {
                            <li id="usernameItem">@user</li>
                        }
                    </ul>
                </form>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-4">
                <form>
                    <input id="usernameRoleValue" class="chosen-value" type="text" value="" placeholder="Search role">
                    <ul id="usernamesRolesList" class="value-list">
                        <li id="usernameRoleItem">Test</li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="#" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Add User In Role</span>
            </a>
        </div>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h5 mb-0 text-gray-800">Add a new role</h2>
    </div>
    <div class="row">
        <div class="col-xl-9 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-4">
                <form>
                    <input id="roleValue" class="chosen-value" type="text" value="" placeholder="Search role">
                    <ul id="rolesList" class="value-list">
                        @foreach (var user in Model.Usernames)
                        {
                            <li id="roleItem">@user</li>
                        }
                    </ul>
                </form>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="#" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Add New Role</span>
            </a>
        </div>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h5 mb-0 text-gray-800">Block a user</h2>
    </div>
    <div class="row">
        <div class="col-xl-9 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-4">
                <form>
                    <input id="baneUserValue" class="chosen-value" type="text" value="" placeholder="Search user">
                    <ul id="usersForBaneList" class="value-list">
                        @foreach (var user in Model.Usernames)
                        {
                            <li id="banItem">@user</li>
                        }
                    </ul>
                </form>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="#" class="btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Block A User</span>
            </a>
        </div>
    </div>
    <hr />
</div>