@using Microsoft.AspNetCore.Identity
@using SdvCode.Areas.Administration.Models.Enums
@model SdvCode.Models.ApplicationUser
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = $"{User.Identity.Name.Substring(0, 1).ToUpper() + User.Identity.Name.Substring(1, User.Identity.Name.Length - 1)} Profile";
}

<div class="user-profile">
    <div class="profile-header-background">
        @if (Model.CoverImageUrl == null)
        {
            <img src="~/images/userProfileCityBackgroundImage.jpg" alt="Profile Header Background">
        }
        else
        {
            <img src=@Model.CoverImageUrl alt="Profile Header Background">
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-info-left">
                    <div class="text-center">
                        @if (Model.ImageUrl == null)
                        {
                            <img src="~/images/NoAvatarProfileImage.png" alt="Avatar" class="avatar img-circle" style="width: 270px; height: 250px">
                        }
                        else
                        {
                            <img src=@Model.ImageUrl alt="Avatar" class="avatar img-circle" style="width: 270px; height: 250px">
                        }
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <h5>@@@Html.DisplayTextFor(model => model.UserName)</h5>
                    </div>
                    <div class="action-buttons">
                        <div class="row">
                            <div class="col-xs-6">
                                @if (User.Identity.Name == Model.UserName)
                                {
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary btn-info btn-block"><i class="fas fa-edit"></i> Edit Profile</a>
                                }
                                else
                                {
                                    @if (!Model.IsFollowed)
                                    {
                                        <a asp-area="" asp-controller="Profile" asp-action="Follow" asp-route-username="@Model.UserName" class="btn btn-success btn-block"><i class="fas fa-plus-circle"></i> Follow</a>
                                    }
                                    else
                                    {
                                        <a asp-area="" asp-controller="Profile" asp-action="Unfollow" asp-route-username="@Model.UserName" class="btn btn-danger btn-block"><i class="fas fa-minus-circle"></i> Unfollow</a>
                                    }
                                }
                            </div>
                            <div class="col-xs-6">
                                @if (User.Identity.Name == Model.UserName)
                                {
                                    <a asp-area="" asp-controller="Profile" asp-action="AllUsers" class="btn btn-primary btn-block"><i class="fas fa-users"></i> All Users</a>
                                }
                                else
                                {
                                    <a href="#" class="btn btn-primary btn-block">Message</a>
                                }
                            </div>
                        </div>
                        @if (User.Identity.Name == Model.UserName && Model.UserActions.Count > 0)
                        {
                            <div style="margin-top: 15px">
                                <a asp-controller="Profile" asp-action="DeleteActivityHistory" asp-route-username="@User.Identity.Name" class="btn btn-danger btn-block"><i class="fas fa-trash"></i> Delete Activity History</a>
                            </div>
                        }
                        @if (User.Identity.Name == Model.UserName && User.IsInRole(Roles.Administrator.ToString()))
                        {
                            <div style="margin-top: 15px">
                                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="btn btn-success btn-block"><i class="fas fa-user-shield"></i> Administration Panel</a>
                            </div>
                        }
                    </div>
                    <div class="section">
                        <h3>About Me</h3>
                        <p>@Model.AboutMe</p>
                    </div>
                    <div class="section">
                        <h3>Personal Data</h3>
                        @if (Model.City != null)
                        {
                            <p><i class="fas fa-building"></i> @Model.City</p>
                        }
                        @if (Model.Country != null)
                        {
                            <p><i class="fas fa-flag"></i> @Model.Country</p>
                        }
                        @if (Model.BirthDate != null)
                        {
                            <p><i class="fas fa-birthday-cake"></i> @Model.BirthDate.ToString("dd-MMMM-yyyy")</p>
                        }
                        @if (Model.PhoneNumber != null)
                        {
                            <p>
                                <i class="fas fa-phone"></i> (@Model.CountryCode.ToString().Split("_")[0]) @Model.PhoneNumber

                                @if (Model.PhoneNumberConfirmed == false)
                                {
                                    <a asp-area="Identity" asp-page="/Account/VerifyPhone">Verify Phone</a>
                                }
                            </p>
                        }
                    </div>
                    <div class="section">
                        <h3>Social</h3>
                        <ul class="list-unstyled">
                            @if (Model.GitHubUrl != null)
                            {
                                <li><a href=@Model.GitHubUrl target="_blank"><i class="fab fa-github"></i> @Model.GitHubUrl.Split("/").Last()</a></li>
                            }
                            @if (Model.StackoverflowUrl != null)
                            {
                                <li><a href=@Model.StackoverflowUrl target="_blank"><i class="fab fa-stack-overflow"></i> @Model.StackoverflowUrl.Split("/").Last()</a></li>
                            }
                            @if (Model.FacebookUrl != null)
                            {
                                <li><a href=@Model.FacebookUrl target="_blank"><i class="fab fa-facebook-square"></i> @Model.FacebookUrl.Split("/").Last()</a></li>
                            }
                            @if (Model.LinkedinUrl != null)
                            {
                                <li><a href=@Model.LinkedinUrl target="_blank"><i class="fab fa-linkedin"></i> @Model.LinkedinUrl.Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries).Last()</a></li>
                            }
                            @if (Model.TwitterUrl != null)
                            {
                                <li><a href=@Model.TwitterUrl target="_blank"><i class="fab fa-twitter-square"></i> @Model.TwitterUrl.Split("/").Last()</a></li>
                            }
                            @if (Model.InstagramUrl != null)
                            {
                                <li><a href=@Model.InstagramUrl target="_blank"><i class="fab fa-instagram"></i> @Model.InstagramUrl.Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries).Last()</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-info-right">
                    <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom">
                        <li class="active"><a href="#activities" data-toggle="tab">ACTIVITIES</a></li>
                        <li><a href="#followers" data-toggle="tab">FOLLOWERS</a></li>
                        <li><a href="#following" data-toggle="tab">FOLLOWING</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- activities -->
                        <div class="tab-pane fade in active" id="activities">
                            @foreach (var action in Model.UserActions)
                            {
                                if (action.Action.ToString() == "Follow")
                                {
                                    <div class="media activity-item">
                                        <a href=/Profile/@action.PersonUsername class="pull-left">
                                            <img src=@action.PersonProfileImageUrl alt="Avatar" class="media-object avatar">
                                        </a>
                                        <div class="media-body">
                                            <p class="activity-title"><a href=/Profile/@action.FollowerUsername><b>@action.FollowerUsername</b></a> started following <a href=/Profile/@action.PersonUsername><b>@action.PersonUsername</b></a> <small class="text-muted"></small></p>
                                            <small class="text-muted">@action.ActionDate.ToString("dd-MMMM-yyyy HH:mm tt")</small>
                                        </div>
                                        @if (User.Identity.Name == Model.UserName)
                                        {
                                            <div class="btn-group pull-right activity-actions">
                                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-th"></i>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                }

                                @if (action.Action.ToString() == "Followed")
                                {
                                    <div class="media activity-item">
                                        <a href=/Profile/@action.FollowerUsername class="pull-left">
                                            <img src=@action.FollowerProfileImageUrl alt="Avatar" class="media-object avatar">
                                        </a>
                                        <div class="media-body">
                                            <p class="activity-title"><a href=/Profile/@action.PersonUsername><b>@action.PersonUsername</b></a> was followed by <a href=/Profile/@action.FollowerUsername><b>@action.FollowerUsername</b></a> <small class="text-muted"></small></p>
                                            <small class="text-muted">@action.ActionDate.ToString("dd-MMMM-yyyy HH:mm tt")</small>
                                        </div>
                                        @if (User.Identity.Name == Model.UserName)
                                        {
                                            <div class="btn-group pull-right activity-actions">
                                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-th"></i>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                }

                                if (action.Action.ToString() == "Unfollow")
                                {
                                    <div class="media activity-item">
                                        <a href=/Profile/@action.PersonUsername class="pull-left">
                                            <img src=@action.PersonProfileImageUrl alt="Avatar" class="media-object avatar">
                                        </a>
                                        <div class="media-body">
                                            <p class="activity-title"><a href=/Profile/@action.FollowerUsername><b>@action.FollowerUsername</b></a> unfollow <a href=/Profile/@action.PersonUsername><b>@action.PersonUsername</b></a> <small class="text-muted"></small></p>
                                            <small class="text-muted">@action.ActionDate.ToString("dd-MMMM-yyyy HH:mm tt")</small>
                                        </div>
                                        @if (User.Identity.Name == Model.UserName)
                                        {
                                            <div class="btn-group pull-right activity-actions">
                                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-th"></i>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                }

                                @if (action.Action.ToString() == "Unfollowed")
                                {
                                    <div class="media activity-item">
                                        <a href=/Profile/@action.FollowerUsername class="pull-left">
                                            <img src=@action.FollowerProfileImageUrl alt="Avatar" class="media-object avatar">
                                        </a>
                                        <div class="media-body">
                                            <p class="activity-title"><a href=/Profile/@action.PersonUsername><b>@action.PersonUsername</b></a> was unfollowed by <a href=/Profile/@action.FollowerUsername><b>@action.FollowerUsername</b></a> <small class="text-muted"></small></p>
                                            <small class="text-muted">@action.ActionDate.ToString("dd-MMMM-yyyy HH:mm tt")</small>
                                        </div>
                                        @if (User.Identity.Name == Model.UserName)
                                        {
                                            <div class="btn-group pull-right activity-actions">
                                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-th"></i>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                }

                                if (action.Action.ToString() == "EditPersonalData")
                                {
                                    <div class="media activity-item">
                                        <a href=/Profile/@action.PersonUsername class="pull-left">
                                            <img src=@action.PersonProfileImageUrl alt="Avatar" class="media-object avatar">
                                        </a>
                                        <div class="media-body">
                                            <p class="activity-title"><a href=/Profile/@action.PersonUsername><b>@action.PersonUsername</b></a> update his/her personal information <small class="text-muted"></small></p>
                                            <small class="text-muted">@action.ActionDate.ToString("dd-MMMM-yyyy HH:mm tt")</small>
                                        </div>
                                        @if (User.Identity.Name == Model.UserName)
                                        {
                                            <div class="btn-group pull-right activity-actions">
                                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-th"></i>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                }

                                if (action.Action.ToString() == "ChangeCoverImage")
                                {
                                    <div class="media activity-item">
                                        <a href="#" class="pull-left">
                                            <img src=@action.PersonProfileImageUrl alt="Avatar" class="media-object avatar">
                                        </a>
                                        <div class="media-body">
                                            <p class="activity-title"><a href=/Profile/@action.PersonUsername><b>@action.PersonUsername</b></a> has changed his/her cover picture <small class="text-muted"></small></p>
                                            <small class="text-muted">@action.ActionDate.ToString("dd-MMMM-yyyy HH:mm tt")</small>
                                            <div class="activity-attachment">
                                                <a href=/Profile/@action.PersonUsername class="thumbnail">
                                                    <img src=@action.CoverImageUrl alt="Uploaded photo">
                                                </a>
                                            </div>
                                        </div>
                                        @if (User.Identity.Name == Model.UserName)
                                        {
                                            <div class="btn-group pull-right activity-actions">
                                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-th"></i>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                }

                                if (action.Action.ToString() == "ChangeProfilePicture")
                                {
                                    <div class="media activity-item">
                                        <a href="#" class="pull-left">
                                            <img src=@action.PersonProfileImageUrl alt="Avatar" class="media-object avatar">
                                        </a>
                                        <div class="media-body">
                                            <p class="activity-title"><a href=/Profile/@action.PersonUsername><b>@action.PersonUsername</b></a> has changed his/her profile picture <small class="text-muted"></small></p>
                                            <small class="text-muted">@action.ActionDate.ToString("dd-MMMM-yyyy HH:mm tt")</small>
                                            <div class="activity-attachment">
                                                <a href=/Profile/@action.PersonUsername class="thumbnail">
                                                    <img src=@action.ProfileImageUrl alt="Uploaded photo">
                                                </a>
                                            </div>
                                        </div>
                                        @if (User.Identity.Name == Model.UserName)
                                        {
                                            <div class="btn-group pull-right activity-actions">
                                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-th"></i>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a asp-controller="Profile" asp-action="DeleteActivityById" asp-route-username="@User.Identity.Name" asp-route-activityId="@action.Id">I don't want to see this</a></li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                        <!-- end activities -->
                        <!-- followers -->
                        <div class="tab-pane fade" id="followers">
                            @foreach (var follower in Model.Followers)
                            {
                                <div class="media user-follower">
                                    @if (follower.ImageUrl == null)
                                    {
                                        <img src="~/images/NoAvatarProfileImage.png" alt="User Avatar" class="media-object pull-left">
                                    }
                                    else
                                    {
                                        <img src=@follower.ImageUrl alt="User Avatar" class="media-object pull-left">
                                    }
                                    <div class="media-body">
                                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@follower.UserName">@follower.UserName<br><span class="text-muted username">@follower.FirstName  @follower.LastName</span></a>
                                        @if (User.Identity.Name == follower.UserName)
                                        {
                                            <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@follower.UserName" type="button" class="btn btn-sm btn-info pull-right"><i class="fas fa-check-circle"></i> <span>It's You</span></a>
                                        }
                                        else
                                        {
                                            @if (follower.HasFollow)
                                            {
                                                <a asp-controller="Profile" asp-action="Unfollow" asp-route-username="@follower.UserName" type="button" class="btn btn-sm btn-danger pull-right"><i class="fas fa-minus-circle"></i> <span>Unfollow</span></a>
                                            }
                                            else
                                            {
                                                <a asp-area="" asp-controller="Profile" asp-action="Follow" asp-route-username="@follower.UserName" type="button" class="btn btn-sm btn-success pull-right"><i class="fas fa-plus-circle"></i> <span>Follow</span></a>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- end followers -->
                        <!-- following -->
                        <div class="tab-pane fade" id="following">
                            @foreach (var following in Model.Followings)
                            {
                                <div class="media user-following">
                                    @if (following.ImageUrl == null)
                                    {
                                        <img src="~/images/NoAvatarProfileImage.png" alt="User Avatar" class="media-object pull-left">
                                    }
                                    else
                                    {
                                        <img src=@following.ImageUrl alt="User Avatar" class="media-object pull-left">
                                    }
                                    <div class="media-body">
                                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@following.UserName">@following.UserName<br><span class="text-muted username">@following.FirstName @following.LastName</span></a>
                                        @if (User.Identity.Name == following.UserName)
                                        {
                                            <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@following.UserName" type="button" class="btn btn-sm btn-info pull-right"><i class="fas fa-check-circle"></i> <span>It's You</span></a>
                                        }
                                        else
                                        {
                                            @if (following.HasFollow)
                                            {
                                                <a asp-area="" asp-controller="Profile" asp-action="Unfollow" asp-route-username="@following.UserName" type="button" class="btn btn-sm btn-danger pull-right"><i class="fas fa-minus-circle"></i> <span>Unfollow</span></a>
                                            }
                                            else
                                            {
                                                <a asp-area="" asp-controller="Profile" asp-action="Follow" asp-route-username="@following.UserName" type="button" class="btn btn-sm btn-success pull-right"><i class="fas fa-plus-circle"></i> <span>Follow</span></a>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- end following -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>