@using Microsoft.AspNetCore.Identity
@model SdvCode.Models.ApplicationUser
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = $"{User.Identity.Name.Substring(0, 1).ToUpper() + User.Identity.Name.Substring(1, User.Identity.Name.Length - 1)} Profile";
}

<div class="user-profile">
    <div class="profile-header-background"><img src="http://demo.thedevelovers.com/dashboard/queenadmin-1.2/assets/img/city.jpg" alt="Profile Header Background"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-info-left">
                    <div class="text-center">
                        <img src=@Model.ImageUrl alt="Avatar" class="avatar img-circle" style="width: 270px; height: 250px">
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <h5>@@@Html.DisplayTextFor(model => model.UserName)</h5>
                    </div>
                    <div class="action-buttons">
                        <div class="row">
                            <div class="col-xs-6">
                                @if (User.Identity.Name == Model.UserName)
                                {
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-info btn-block"><i class="fa fa-plus-round"></i> Edit Profile</a>
                                }
                                else
                                {
                                    @if (!Model.IsFollowed)
                                    {
                                        <a asp-area="" asp-controller="Profile" asp-action="Follow" asp-route-username="@Model.UserName" class="btn btn-success btn-block"><i class="fa fa-plus-round"></i> Follow</a>
                                    }
                                    else
                                    {
                                        <a asp-area="" asp-controller="Profile" asp-action="Unfollow" asp-route-username="@Model.UserName" class="btn btn-danger btn-block"><i class="fa fa-plus-round"></i> Unfollow</a>
                                    }
                                }
                            </div>
                            <div class="col-xs-6">
                                <a href="#" class="btn btn-primary btn-block"><i class="fa fa-android-mail"></i> Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <h3>About Me</h3>
                        <p>@Model.AboutMe</p>
                    </div>
                    <div class="section">
                        <h3>Personal Data</h3>
                        <p>@Model.City</p>
                        <p>@Model.Country</p>
                        <p>@Model.BirthDate.ToString("dd-MMMM-yyyy")</p>
                        <p>@Model.PhoneNumber</p>
                    </div>
                    <div class="section">
                        <h3>Social</h3>
                        <ul class="list-unstyled list-social">
                            <li><a href="#"><i class="fa fa-twitter"></i> jackbay</a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i> Jack Bay</a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i> jackdribs</a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i> Jack Bay</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-info-right">
                    <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom">
                        <li class="active"><a href="#activities" data-toggle="tab">ACTIVITIES</a></li>
                        <li><a href="#followers" data-toggle="tab">FOLLOWERS</a></li>
                        <li><a href="#following" data-toggle="tab">FOLLOWING</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- activities -->
                        <div class="tab-pane fade in active" id="activities">
                            <div class="media activity-item">
                                <a href="#" class="pull-left">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
                                </a>
                                <div class="media-body">
                                    <p class="activity-title"><a href="#">Antonius</a> started following <a href="#">Jack Bay</a> <small class="text-muted">- 2m ago</small></p>
                                    <small class="text-muted">Today 08:30 am - 02.05.2014</small>
                                </div>
                                <div class="btn-group pull-right activity-actions">
                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-th"></i>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">I don't want to see this</a></li>
                                        <li><a href="#">Unfollow Antonius</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Get Notification</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="media activity-item">
                                <a href="#" class="pull-left">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="Avatar" class="media-object avatar">
                                </a>
                                <div class="media-body">
                                    <p class="activity-title"><a href="#">Jane Doe</a> likes <a href="#">Jack Bay</a> <small class="text-muted">- 36m ago</small></p>
                                    <small class="text-muted">Today 07:23 am - 02.05.2014</small>
                                </div>
                                <div class="btn-group pull-right activity-actions">
                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-th"></i>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">I don't want to see this</a></li>
                                        <li><a href="#">Unfollow Jane Doe</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Get Notification</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="media activity-item">
                                <a href="#" class="pull-left">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="Avatar" class="media-object avatar">
                                </a>
                                <div class="media-body">
                                    <p class="activity-title"><a href="#">Michael</a> posted something for <a href="#">Jack Bay</a> <small class="text-muted">- 1h ago</small></p>
                                    <small class="text-muted">Today 07:23 am - 02.05.2014</small>
                                    <div class="activity-attachment">
                                        <div class="well well-sm">
                                            Professionally evolve corporate services without ethical leadership. Proactively re-engineer client-focused infrastructures before alternative potentialities. Competently predominate just in time e-tailers for leveraged solutions. Intrinsicly initiate end-to-end collaboration and idea-sharing after 24/365 ROI. Rapidiously.
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group pull-right activity-actions">
                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-th"></i>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">I don't want to see this</a></li>
                                        <li><a href="#">Unfollow Michael</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Get Notification</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="media activity-item">
                                <a href="#" class="pull-left">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="Avatar" class="media-object avatar">
                                </a>
                                <div class="media-body">
                                    <p class="activity-title"><a href="#">Jack Bay</a> has uploaded two photos <small class="text-muted">- Yesterday</small></p>
                                    <small class="text-muted">Yesterday 06:42 pm - 01.05.2014</small>
                                    <div class="activity-attachment">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="#" class="thumbnail">
                                                    <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Uploaded photo">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group pull-right activity-actions">
                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-th"></i>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">I don't want to see this</a></li>
                                        <li><a href="#">Unfollow Jack Bay</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Get Notification</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="media activity-item">
                                <a href="#" class="pull-left">
                                    <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="Avatar" class="media-object avatar">
                                </a>
                                <div class="media-body">
                                    <p class="activity-title"><a href="#">Jack Bay</a> has changed his profile picture <small class="text-muted">- 2 days ago</small></p>
                                    <small class="text-muted">2 days ago 05:42 pm - 30.04.2014</small>
                                    <div class="activity-attachment">
                                        <a href="#" class="thumbnail">
                                            <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Uploaded photo">
                                        </a>
                                    </div>
                                </div>
                                <div class="btn-group pull-right activity-actions">
                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-th"></i>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">I don't want to see this</a></li>
                                        <li><a href="#">Unfollow Jack Bay</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Get Notification</a></li>
                                    </ul>
                                </div>
                            </div>
                            <button type="button" class="btn btn-default center-block"><i class="fa fa-refresh"></i> Load more activities</button>
                        </div>
                        <!-- end activities -->
                        <!-- followers -->
                        <div class="tab-pane fade" id="followers">
                            @foreach (var follower in Model.Followers)
                            {
                                <div class="media user-follower">
                                    <img src=@follower.ImageUrl alt="User Avatar" class="media-object pull-left">
                                    <div class="media-body">
                                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@follower.UserName">@follower.UserName<br><span class="text-muted username">@follower.FirstName  @follower.LastName</span></a>
                                        <a asp-area="" asp-controller="Profile" asp-action="Unfollow" asp-route-username="@follower.UserName" type="button" class="btn btn-sm btn-toggle-following pull-right"><i class="fa fa-checkmark-round"></i> <span>Following</span></a>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- end followers -->
                        <!-- following -->
                        <div class="tab-pane fade" id="following">
                            @foreach (var following in Model.Followings)
                            {
                                <div class="media user-following">
                                    <img src=@following.ImageUrl alt="User Avatar" class="media-object pull-left">
                                    <div class="media-body">
                                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@following.UserName">@following.UserName<br><span class="text-muted username">@following.FirstName @following.LastName</span></a>
                                        <a asp-area="" asp-controller="Profile" asp-action="Unfollow" asp-route-username="@following.UserName" type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-close-round"></i> Unfollow</a>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- end following -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>