@using SdvCode.Models.User
@using Microsoft.AspNetCore.Identity
@using SdvCode.ViewModels.Blog.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model BlogViewModel
@{
    ViewData["Title"] = "Blog";
    var currentUser = UserManager.FindByNameAsync(User.Identity.Name);
}
<div id="banner-area">
    <img src="~/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Blog Page</h2>
            <ul class="breadcrumb">
                <li>Home</li>
                <li><a asp-area="" asp-controller="Blog" asp-action="Index"> Blog</a></li>
                @if (SignInManager.IsSignedIn(User) && currentUser.Result.IsBlocked == false && currentUser != null)
                {
                    <li><a asp-area="" asp-controller="Blog" asp-action="CreatePost" class="btn btn-primary solid square">Create Post</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<section id="main-container">
    <div class="container">
        @if (TempData["Success"] != null)
        {
            <div class="container-fluid">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["Success"]
                </div>
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["Error"]
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                @foreach (var post in Model.Posts)
                {
                    <div class="post">
                        <div class="post-image-wrapper">
                            <img src=@post.ImageUrl class="img-responsive" alt="post cover image" />
                            @if (post.CreatedOn == post.UpdatedOn)
                            {
                                <span class="blog-date"><a href="#"> @post.CreatedOn.ToString("MMMM dd, yyyy")</a></span>
                            }
                            else
                            {
                                <span class="blog-date"><a href="#"> @post.UpdatedOn.ToString("MMMM dd, yyyy")</a></span>
                            }
                        </div>
                        <div class="post-header clearfix">
                            <h2 class="post-title">
                                <a href="blog-item.html">@post.Title</a>
                            </h2>
                            <div class="post-meta">
                                <span class="post-meta-author">
                                    Posted on
                                    <span class="post-meta-cats"> @post.CreatedOn.ToString("dd-MMMM-yyyy")</span>
                                    by
                                    <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@post.ApplicationUser.UserName"> @post.ApplicationUser.UserName</a>
                                </span>
                                <span class="post-meta-cats">in <a href="#"> @post.Category.Name</a></span>
                                <div class="pull-right">
                                    <span class="post-meta-comments"><a href="#"><i class="fa fa-comment-o"></i> @post.Comments.Count</a></span>
                                    <span class="post-meta-hits">
                                        <a asp-area="" asp-controller="Post" asp-action="LikePost" asp-route-id="@post.Id" asp-route-title="@post.Title">
                                            <i class="fa fa-heart-o"></i> @post.Likes
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="post-body">
                            <p>@post.ShortContent</p>
                        </div>
                        <div class="post-footer">
                            @if (SignInManager.IsSignedIn(User) && currentUser.Result.IsBlocked == false && currentUser != null)
                            {
                                <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id" asp-route-title="@post.Title" class="btn btn-primary">Continue Reading <i class="fas fa-angle-double-right">&nbsp;</i></a>
                            }
                        </div>
                    </div>
                }
                <div class="paging">
                    <ul class="pagination">
                        <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="sidebar sidebar-right">
                    <div class="widget widget-search">
                        <h3 class="widget-title">Search</h3>
                        <div id="search">
                            <input class="form-control form-control-lg" placeholder="search" type="search">
                        </div>
                    </div>
                    <div class="widget widget-tab">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#popular-tab" data-toggle="tab">popular</a></li>
                            <li class=""><a href="#recent-tab" data-toggle="tab">recent</a></li>
                            <li class=""><a href="#comments-tab" data-toggle="tab">comments</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="popular-tab">
                                <ul class="posts-list unstyled clearfix">
                                    @foreach (var topPost in Model.TopPosts)
                                    {
                                        <li>
                                            <div class="posts-thumb pull-left">
                                                <a href="#">
                                                    <img alt="img" src=@topPost.ImageUrl>
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <h4 class="entry-title">
                                                    <a href="#">@topPost.Title</a>
                                                </h4>
                                                <p class="post-meta">
                                                    <span class="post-meta-author">Posted by <a href="#"> @topPost.ApplicationUser.UserName</a></span>
                                                    <span class="post-meta-date">
                                                        <a href="#"> <i class="fas fa-clock-o"></i> @topPost.CreatedOn.ToString("MMMM dd")</a>
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div class="tab-pane" id="recent-tab">
                                <ul class="posts-list unstyled clearfix">
                                    @foreach (var recetPost in Model.RecentPosts)
                                    {
                                        <li>
                                            <div class="posts-thumb pull-left">
                                                <a href="#">
                                                    <img alt="img" src=@recetPost.ImageUrl>
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <h4 class="entry-title">
                                                    <a href="#">@recetPost.Title</a>
                                                </h4>
                                                <p class="post-meta">
                                                    <span class="post-meta-author">Posted by <a href="#"> @recetPost.ApplicationUser.UserName</a></span>
                                                    <span class="post-meta-date">
                                                        <a href="#"> <i class="fas fa-clock-o"></i> @recetPost.CreatedOn.ToString("MMMM dd")</a>
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="tab-pane" id="comments-tab">
                                <ul class="posts-list unstyled clearfix">
                                    <li>
                                        <div class="posts-avator pull-left">
                                            <a href="#">
                                                <img alt="img" src="~/images/blog/avator1.png">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="entry-title">
                                                <a href="#">If you are going to use a passage  of Lorem Ipsum</a>
                                            </h4>
                                            <p class="post-meta">
                                                <span class="post-meta-author">Posted by <a href="#"> John</a></span>
                                                <span class="post-meta-date">
                                                    <a href="#"> <i class="fas fa-clock-o"></i> November 21</a>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <div class="posts-avator pull-left">
                                            <a href="#">
                                                <img alt="img" src="~/images/blog/avator2.jpg">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="entry-title">
                                                <a href="#">you need to be sure there isn’t anything embarra</a>
                                            </h4>
                                            <p class="post-meta">
                                                <span class="post-meta-author">Posted by <a href="#"> Tina</a></span>
                                                <span class="post-meta-date">
                                                    <a href="#"> <i class="fas fa-clock-o"></i> October 18</a>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget-categories">
                        <h3 class="widget-title">Blog Categories</h3>
                        <ul class="category-list clearfix">
                            @foreach (var category in Model.TopCategories)
                            {
                                <li><a href="#">@category.Name</a><span class="posts-count"> (@category.PostsCount)</span></li>
                            }
                        </ul>
                    </div>
                    <div class="widget widget-tags">
                        <h3 class="widget-title">Popular Tags</h3>
                        <ul class="unstyled clearfix">
                            @foreach (var tag in Model.TopTags)
                            {
                                <li><a href="#">@tag.Name (@tag.Count)</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>