@using SdvCode.ViewModels.Category
@using SdvCode.Models.User
@using Microsoft.AspNetCore.Identity
@using SdvCode.Areas.Administration.Models.Enums
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
@using X.PagedList
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model CategoryViewModel
@{
    ViewData["Title"] = Model.Category.Name;
}
<div id="banner-area">
    <img src="~/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <div class="banner-title-content">
        <div class="text-center">
            <h2>@Model.Category.Name Category</h2>
            <ul class="breadcrumb">
                <li>Home</li>
                <li><a asp-area="" asp-controller="Blog" asp-action="Index"> Blog</a></li>
                <li>
                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="@Model.Category.Id">
                        @Model.Category.Name
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<section id="main-container">
    <div class="container">
        <h2 class="headerSwitch"><i class="fas fa-tag"></i> @Model.Category.Name</h2>
        <p>@Model.Category.Description</p>

        @if (User.IsInRole(Roles.Administrator.ToString()) || User.IsInRole(Roles.Editor.ToString()))
        {
            <a asp-area="Editor" asp-controller="EditCategory" asp-action="Index" asp-route-id="@Model.Category.Id" class="btn btn-success" type="submit"><i class="fas fa-edit"></i> Edit Category</a>
        }

        <div class="headerSwitch" style="text-align: right"><i class="fas fa-clock"></i> @Model.Category.CreatedOn.ToString("MMMM dd,yyyy")</div>
        <hr />
        <partial name="_TempDataPartial" />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                @foreach (var post in Model.Posts)
                {
                    <div class="post">
                        <div class="post-image-wrapper">
                            <img src=@post.ImageUrl class="img-responsive" alt="post cover image" />
                            @if (post.CreatedOn == post.UpdatedOn)
                            {
                                <span class="blog-date">
                                    <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                        @post.CreatedOn.ToString("MMMM dd, yyyy")
                                    </a>
                                </span>
                            }
                            else
                            {
                                <span class="blog-date">
                                    <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                        @post.UpdatedOn.ToString("MMMM dd, yyyy")
                                    </a>
                                </span>
                            }
                        </div>
                        <div class="post-header clearfix">
                            <h2 class="post-title">
                                <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                            </h2>
                            @if (User.IsInRole(Roles.Administrator.ToString()) || User.IsInRole(Roles.Editor.ToString()))
                            {
                                <a asp-area="" asp-controller="Blog" asp-action="DeletePost" asp-route-id="@post.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete Post</a>
                            }
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="dropdown">
                                    <a class="btn btn-success dropbtn"><i class="far fa-heart"></i> @post.Likes Likes</a>
                                    <div class="dropdown-content">
                                        @foreach (var liker in post.Likers)
                                        {
                                            <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@liker.UserName">
                                                @if (liker.ImageUrl == null)
                                                {
                                                    <img class="likerAvatar" src="~/images/NoAvatarProfileImage.png" alt="avatar">
                                                }
                                                else
                                                {
                                                    <img class="likerAvatar" src=@liker.ImageUrl alt="avatar">
                                                }

                                                @liker.FirstName @liker.LastName (@@@liker.UserName)
                                            </a>
                                        }
                                    </div>
                                </div>
                            }
                            <div class="post-meta">
                                <span class="post-meta-author">
                                    Posted on
                                    <span class="post-meta-cats"> @post.CreatedOn.ToString("dd-MMMM-yyyy")</span>
                                    by
                                    <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@post.ApplicationUser.UserName"> @post.ApplicationUser.UserName</a>
                                </span>
                                <span class="post-meta-cats">in <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="@post.Category.Id"> @post.Category.Name</a></span>
                                <div class="pull-right">
                                    <span class="post-meta-comments">
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <a href="#">
                                                <i class="fa fa-comment-o"></i> @post.Comments.Count
                                            </a>
                                        }
                                        else
                                        {
                                            <h><i class="fa fa-comment-o"></i> @post.Comments.Count comments</h>
                                        }
                                    </span>
                                    <span class="post-meta-hits">
                                        @if (post.IsLiked == true)
                                        {
                                            <a asp-area="" asp-controller="Post" asp-action="UnlikePost" asp-route-id="@post.Id">
                                                <i class="fas fa-thumbs-down"></i> Unlike
                                            </a>
                                        }
                                        else
                                        {
                                            @if (post.IsLiked == false && SignInManager.IsSignedIn(User))
                                            {
                                                <a asp-area="" asp-controller="Post" asp-action="LikePost" asp-route-id="@post.Id">
                                                    <i class="fas fa-thumbs-up"></i> Like
                                                </a>
                                            }
                                            else
                                            {
                                                <h><i class="fas fa-thumbs-up"></i> @post.Likes likes</h>
                                            }
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="post-body">
                            <p>@Html.Raw(post.ShortContent)</p>
                        </div>
                        <div class="post-footer">
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id" class="btn btn-primary">
                                Continue Reading <i class="fas fa-angle-double-right">&nbsp;</i>
                            </a>
                        </div>
                    </div>
                }
                <div class="row" style="text-align: center">
                    @Html.PagedListPager((IPagedList)Model.Posts,
                            page => Url.Action("Index", "Category",
                    new { page = page }),
                    PagedListRenderOptionsBase.OnlyShowFivePagesAtATime)
                </div>
            </div>
            @await Component.InvokeAsync("Blog")
        </div>
    </div>
</section>