@using SdvCode.ViewModels.Post.ViewModels
@using SdvCode.Areas.Administration.Models.Enums
@using SdvCode.Models.User
@using Microsoft.AspNetCore.Identity
@using SdvCode.Models.Enums
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model PostViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div id="banner-area">
    <img src="~/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <div class="banner-title-content">
        <div class="text-center">
            <h2>@Model.Title</h2>
            <ul class="breadcrumb">
                <li>Home</li>
                <li><a asp-area="" asp-controller="Blog" asp-action="Index"> Blog</a></li>
                <li>
                    <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">
                        @Model.Title
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<section id="main-container">
    <div class="container">
        <partial name="_TempDataPartial" />
        <div class="row">
            <!-- Blog start -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!-- Blog post start -->
                <div class="post-content">
                    <!-- post image start -->
                    <div class="post-image-wrapper">
                        <img src=@Model.ImageUrl class="img-responsive" alt="" />
                        <span class="blog-date">
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">
                                @Model.CreatedOn.ToLocalTime().ToString("MMMM dd, yyyy")
                            </a>
                        </span>
                    </div><!-- post image end -->
                    <div class="post-header clearfix">
                        <h2 class="post-title">
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">@Model.Title</a>
                        </h2>
                        @if ((User.IsInRole(Roles.Administrator.ToString()) || User.IsInRole(Roles.Editor.ToString()) || Model.IsAuthor == true) && Model.ApplicationUser.IsBlocked == false)
                        {
                            <a asp-area="" asp-controller="Blog" asp-action="EditPost" asp-route-id="@Model.Id" class="btn btn-info"><i class="fas fa-edit"></i> Edit Post</a>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-trash-alt"></i>
                                Delete Post
                            </a>
                        }
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="dropdown">
                                <a class="btn btn-success dropbtn"><i class="far fa-heart"></i> @Model.Likes Likes</a>
                                <div class="dropdown-content">
                                    @foreach (var liker in Model.Likers)
                                    {
                                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@liker.UserName">
                                            @if (liker.ImageUrl == null)
                                            {
                                                <img class="likerAvatar" src="~/images/NoAvatarProfileImage.png" alt="avatar">
                                            }
                                            else
                                            {
                                                <img class="likerAvatar" src=@liker.ImageUrl alt="avatar">
                                            }

                                            @liker.FirstName @liker.LastName (@@@liker.UserName)
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                        <div class="post-meta">
                            <span class="post-meta-author">
                                Posted by
                                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@Model.ApplicationUser.UserName">
                                    @Model.ApplicationUser.UserName
                                </a>
                            </span>
                            <span class="post-meta-cats">
                                in
                                <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="@Model.Category.Id">
                                    @Model.Category.Name
                                </a>
                            </span>
                            <br />
                            <span class="post-meta-cats">
                                Post Status:
                                @if (Model.PostStatus == PostStatus.Banned)
                                {
                                    <font color="red" size="2"><b>@Model.PostStatus.ToString()</b></font>
                                }
                                else
                                {
                                    @if (Model.PostStatus == PostStatus.Approved)
                                    {
                                        <font color="green" size="2"><b>@Model.PostStatus.ToString()</b></font>
                                    }
                                    else
                                    {
                                        <font color="blue" size="2"><b>@Model.PostStatus.ToString()</b></font>
                                    }
                                }
                            </span>
                            <div class="pull-right">
                                <span class="post-meta-comments"><a href="#"><i class="fa fa-comment-o"></i> @Model.Comments.Count</a></span>
                                <span class="post-meta-hits">
                                    @if (Model.IsLiked == true)
                                    {
                                        <a asp-area="" asp-controller="Post" asp-action="UnlikePost" asp-route-id="@Model.Id">
                                            <i class="fas fa-thumbs-down"></i> Unlike
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-area="" asp-controller="Post" asp-action="LikePost" asp-route-id="@Model.Id">
                                            <i class="fas fa-thumbs-up"></i> Like
                                        </a>
                                    }
                                </span>
                            </div>
                        </div><!-- post meta end -->
                    </div><!-- post heading end -->
                    <div class="entry-content">
                        <p>@Html.Raw(Model.Content)</p>
                    </div>
                    <div class="widget widget-tags">
                        <ul class="unstyled clearfix">
                            @foreach (var tag in Model.Tags)
                            {
                                <li><a asp-area="" asp-controller="Tag" asp-action="Index" asp-route-id="@tag.Id">@tag.Name</a></li>
                            }
                        </ul>
                    </div>
                    <!-- Author info start -->
                    <div class="about-author">
                        <div class="author-img pull-left">
                            @if (Model.ApplicationUser.ImageUrl == null)
                            {
                                <img src="~/images/NoAvatarProfileImage.png" alt="avatar" />
                            }
                            else
                            {
                                <img src=@Model.ApplicationUser.ImageUrl alt="avatar" />
                            }
                        </div>
                        <div class="author-info">
                            <h3>@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName<span>@Model.ApplicationUser.CountryCode.ToString().Split("_")[0], @Model.ApplicationUser.City</span></h3>
                            <p>@Model.ApplicationUser.AboutMe</p>
                            <p class="author-url">Profile: <span><a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@Model.ApplicationUser.UserName">@@@Model.ApplicationUser.UserName</a></span></p>
                        </div>
                    </div>

                    @if (User.IsInRole(Roles.Administrator.ToString()) || User.IsInRole(Roles.Editor.ToString()))
                    {
                        @if (Model.PostStatus == PostStatus.Pending)
                        {
                            <a asp-area="Editor" asp-controller="Post" asp-action="ApprovePost" asp-route-id="@Model.Id" class="btn btn-info" style="float: left">
                                <i class="fas fa-check"></i> Approve Post
                            </a>
                        }
                        else
                        {
                            @if (Model.PostStatus == PostStatus.Banned)
                            {
                                <a asp-area="Editor" asp-controller="Post" asp-action="UnbanPost" asp-route-id="@Model.Id" class="btn btn-danger" style="float: left">
                                    <i class="fas fa-unlock-alt"></i> Unban Post
                                </a>
                            }
                            else
                            {
                                <a asp-area="Editor" asp-controller="Post" asp-action="BanPost" asp-route-id="@Model.Id" class="btn btn-info" style="float: left">
                                    <i class="fas fa-lock"></i> Ban Post
                                </a>
                            }
                        }
                    }

                    @if (!Model.IsFavourite)
                    {
                        <a asp-area="" asp-controller="Post" asp-action="AddToFavorite" asp-route-id="@Model.Id" class="btn btn-success" style="float: right">
                            <i class="far fa-heart"></i> Add to favorite
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Post" asp-action="RemoveFromFavorite" asp-route-id="@Model.Id" class="btn btn-info" style="float: right">
                            <i class="fas fa-eraser"></i> Remove from favorite
                        </a>
                    }
                    <!-- Author info end -->

                    <div class="gap-30"></div>

                    <!-- Post comment start -->
                    <div id="post-comments">
                        <div class="comments-counter"><a href="#">@Model.Comments.Count Comments found</a></div>
                        <ul class="comments-list">
                            <li>
                                <div class="comment">
                                    <img class="comment-avatar pull-left" alt="" src="images/blog/avator1.png">
                                    <div class="comment-body">
                                        <h4 class="comment-author">Jack Ruler</h4>
                                        <div class="comment-date">March 29, 2014 at 1:38 pm</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In magna ligula, faucibus sed ligula ut, venenatis mattis diam. Proin feugiat mollis nibh.</p>
                                        <div class="text-right weight-600">
                                            <a class="comment-reply" href="#">
                                                <i class="fa fa-mail-reply"></i> Reply
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comments-reply">
                                    <li>
                                        <div class="comment">
                                            <img class="comment-avatar pull-left" alt="img" src="images/blog/avator2.jpg">
                                            <div class="comment-body">
                                                <h4 class="comment-author">Jack Ruler</h4>
                                                <div class="comment-date">March 29, 2014 at 1:38 pm</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In magna ligula, faucibus sed ligula ut, venenatis mattis diam. Proin feugiat mollis nibh.</p>
                                                <div class="text-right weight-600">
                                                    <a class="comment-reply" href="#">
                                                        <i class="fa fa-mail-reply"></i> Reply
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <img class="comment-avatar pull-left" alt="" src="images/blog/avator1.png">
                                            <div class="comment-body">
                                                <h4 class="comment-author">Jack Ruler</h4>
                                                <div class="comment-date">March 29, 2014 at 1:38 pm</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In magna ligula, faucibus sed ligula ut, venenatis mattis diam. Proin feugiat mollis nibh.</p>
                                                <div class="text-right weight-600">
                                                    <a class="comment-reply" href="#">
                                                        <i class="fa fa-mail-reply"></i> Reply
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- comments-reply end -->
                                <div class="comment last">
                                    <img class="comment-avatar pull-left" alt="" src="images/blog/author.jpg">
                                    <div class="comment-body">
                                        <h4 class="comment-author">Jack Ruler</h4>
                                        <div class="comment-date">March 29, 2014 at 1:38 pm</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In magna ligula, faucibus sed ligula ut, venenatis mattis diam. Proin feugiat mollis nibh.</p>
                                        <div class="text-right weight-600">
                                            <a class="comment-reply" href="#">
                                                <i class="fa fa-mail-reply"></i> Reply
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- Comments-list li end -->
                        </ul><!-- Comments-list ul end -->
                    </div><!-- Post comment end -->

                    <div class="comments-form">
                        <h3>Leave a comment</h3>
                        <form role="form">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Your Name</label>
                                        <input class="form-control" name="name" id="name" placeholder="" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Your Email</label>
                                        <input class="form-control" name="email" id="email" placeholder="" type="email" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Your Website</label>
                                        <input class="form-control" placeholder="" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control required-field" id="message" placeholder="" rows="8" required></textarea>
                            </div>
                            <div>
                                <br>
                                <button class="btn btn-primary" type="submit">Post Comment</button>
                            </div>
                        </form>
                    </div><!-- Comments form end -->
                </div><!-- Blog post end -->
            </div><!--/ Content col end -->
            <!-- sidebar start -->
            @await Component.InvokeAsync("Blog")
        </div><!--/ row end -->
    </div><!--/ container end -->
</section><!-- Blog details page end -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you want to delete the post?</h5>
            </div>
            <div class="modal-body">Select "Delete" below if you are ready to delete the post.</div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <a asp-area="" asp-controller="Blog" asp-action="DeletePost" asp-route-id="@Model.Id" class="btn btn-danger">Delete Post</a>
            </div>
        </div>
    </div>
</div>