@{
    ViewData["Title"] = "Users Penalties";
}

@model UsersPenaltiesIndexModel

<partial name="_TempDataPartial" />

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Users Penalties - Block/Unblock Users</h1>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Block User</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card border-left-danger shadow h-100 py-4">
                    <input asp-for="@Model.UsersPenaltiesInputModel.Username" class="chosen-value addUserValueForUserInRole" type="text" value="" placeholder="Type to filter" autocomplete="off" />
                    <ul class="value-list usersListForUserInRole">
                        @foreach (var username in Model.UsersPenaltiesViewModel.NotBlockedUsernames)
                        {
                            <li id="userForUserInRole">@username</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-4">
                <span asp-validation-for="@Model.UsersPenaltiesInputModel.Username" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-4">
                <label asp-for="@Model.UsersPenaltiesInputModel.ReasonToBeBlocked"></label>
                <textarea placeholder="Type reason to block the user..." class="form-control" asp-for="@Model.UsersPenaltiesInputModel.ReasonToBeBlocked" rows="100" style="max-height: 200px"></textarea>
                <span asp-validation-for="@Model.UsersPenaltiesInputModel.ReasonToBeBlocked" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <button asp-area="Administration" asp-controller="UsersPenalties" asp-action="BlockUser" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-ban"></i>
                    </span>
                    <span class="text">Block User</span>
                </button>
            </div>
        </div>
    </form>
    <hr />
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Unblock user</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card border-left-success shadow h-100 py-4">
                    <input asp-for="@Model.UsersPenaltiesInputModel.Username" class="chosen-value addUserValueForUserRemoveRole" type="text" value="" placeholder="Type to filter" autocomplete="off" />
                    <ul class="value-list usersListForUserRemoveRole">
                        @foreach (var username in Model.UsersPenaltiesViewModel.BlockedUsernames)
                        {
                            <li id="userForUserRemoveRole">@username</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-4">
                <span asp-validation-for="@Model.UsersPenaltiesInputModel.Username" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <button asp-area="Administration" asp-controller="UsersPenalties" asp-action="UnblockUser" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-unlock"></i>
                    </span>
                    <span class="text">Unblock user</span>
                </button>
            </div>
        </div>
    </form>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Block/Unblock all users - except administrators</h1>
    </div>
    <form method="post">
        <button asp-area="Administration" asp-controller="UsersPenalties" asp-action="BlockAllUsers" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-ban"></i>
            </span>
            <span class="text">Block all users</span>
        </button>

        <button asp-area="Administration" asp-controller="UsersPenalties" asp-action="UnBlockAllUsers" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-unlock"></i>
            </span>
            <span class="text">Unblock all users</span>
        </button>
    </form>
    <hr />
</div>
@section Scripts {
    <script src="~/administration/js/addUserInRoleUsersDropDown.js"></script>
    <script src="~/administration/js/removeUserInRoleUsersDropDown.js"></script>
    <partial name="_ValidationScriptsPartial" />
}