@using SdvCode.Areas.Administration.ViewModels.UsersPenalties
@{
    ViewData["Title"] = "Users Penalties";
}

@model UsersPenaltiesIndexModel

@if (TempData["Success"] != null)
{
    <div class="container-fluid">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Success"]
        </div>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="container-fluid">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Error"]
        </div>
    </div>
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Users Penalties - Block/Unblock Users</h1>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Block User</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-xl-6 col-md-9 mb-4">
                <div class="card border-left-danger shadow h-100 py-4">
                    <input asp-for="@Model.UsersPenaltiesInputModel.BlockedUsername" class="chosen-value addUserValueForUserInRole" type="text" value="" placeholder="Type to filter" autocomplete="off" required />
                    <ul class="value-list usersListForUserInRole">
                        @foreach (var username in Model.UsersPenaltiesViewModel.NotBlockedUsernames)
                        {
                            <li id="userForUserInRole">@username</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <button asp-area="Administration" asp-controller="UsersPenalties" asp-action="BlockUser" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Block User</span>
                </button>
            </div>
        </div>
    </form>
    <hr />
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Unblock user</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-xl-6 col-md-9 mb-4">
                <div class="card border-left-success shadow h-100 py-4">
                    <input asp-for="@Model.UsersPenaltiesInputModel.UnblockedUsername" class="chosen-value addUserValueForUserRemoveRole" type="text" value="" placeholder="Type to filter" autocomplete="off" required />
                    <ul class="value-list usersListForUserRemoveRole">
                        @foreach (var username in Model.UsersPenaltiesViewModel.BlockedUsernames)
                        {
                            <li id="userForUserRemoveRole">@username</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <button asp-area="Administration" asp-controller="UsersPenalties" asp-action="UnblockUser" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Unblock user</span>
                </button>
            </div>
        </div>
    </form>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Block/Unblock all users - except administrators</h1>
    </div>
    <form method="post">
        <button asp-area="Administration" asp-controller="UsersPenalties" asp-action="BlockAllUsers" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Block all users</span>
        </button>

        <button asp-area="Administration" asp-controller="UsersPenalties" asp-action="UnBlockAllUsers" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Unblock all users</span>
        </button>
    </form>
    <hr />
</div>